@import '../../utils/variables';

.section {
  width: 100vw;
  height: 100vh;
  padding-top: 5vh;
  @include flex-center;
}

.section__container {
  width: 75%;
  display: flex;
}

.section__container > img {
  width: 50%;
}

.container__content {
  @include flex-center;
  flex-direction: column;

  h1 {
    font-size: 3rem;
    margin-bottom: .5rem;
    font-family: 'Lato';
  }

  p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-family: 'Lato';
  }
}
