.section {
    width: 100vw;
    height: 100vh;
    padding-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__container {
    width: 75%;
    display: flex;
}

.section__container > img {
    width: 50%;
}

.container__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 3rem;
        margin-bottom: .5rem;
        font-family: 'Lato';
    }

    p {
        font-size: 1.5rem;
        margin-bottom: 2rem;
        font-family: 'Lato';
    }
}
