@import '../../../utils/colors';

.emptyColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: $primary_color_dark_blue;
  border-radius: .5rem;
  cursor: pointer;
  transition: .5s transform ease-in-out;
  transition: .2s filter ease-in-out;

  * {
    font-size: 1.25rem;
    font-family: 'Lato', sans-serif;
    margin-top: .5rem;
  }

  *:first-child {
    margin-right: .5rem;
    margin-top: 0;
    color: $white;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  form > *:first-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  form > *:first-child > label {
    font-size: 1rem;
    margin: 0;
  }
}

.emptyColumn:hover {
  transform: scale(1.05);
  filter: brightness(120%);
}
