@import '../../../utils/colors';

.board__menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 10vh;
  right: 1%;
  padding: 1rem 1rem 0;
  background: linear-gradient($primary_color_aqua, $primary_color_dark_blue);
  border-radius: .5rem;

  h2 {
    color: $white;
    margin-bottom: 1.5rem;
  }

  ul {
    list-style: none;

    li {
      margin-bottom: 1rem;
    }
  }
}
