@import '../../utils/colors';

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $primary_color_blue;
    border: none;
    border-radius: .15rem;
    cursor: pointer;
    color: $white;
    padding: .5rem;
    font-weight: bold;
    transition: .5s background ease-in-out;
}

.btn:hover {
    background: #005eff;
}

.transparent {
    background-color: transparent;
}

.colorBlack {
    color: $black;
}

.colorWhite {
    color: $white;
}

.basicFont {
    font-size: 1rem;
}

.bigFont {
    font-size: 1.5rem;
}
