.btn {
    background-color: #ADADAD;
    border: none;
    border-radius: .15rem;
    cursor: pointer;
    color: #ffffff;
}

.basicSize {
    width: 2rem;
    height: 2rem;
}

.doubleSize {
    width: 4rem;
    height: 2rem;
}

.wideSize {
    width: 8rem;
    height: 2rem;
}

.transparent {
    background-color: transparent;
}

.colorBlack {
    color: #000000;
}

.colorWhite {
    color: #ffffff;
}
