.board__container {
  width: 100vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  padding-top: 5vh;

  h2 {
    align-self: center;
  }
}

.board {
  display: flex;
}

.board > * {
  margin-right: 1rem;
}

.board > *:last-child {
  margin-right: 0;
}
