@import '../../../utils/colors';

.dropdown__menu {
    position: absolute;
    top: 4.9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateX(-45%);
    background-color: $black;
    border: none;
    border-radius: .5rem;
    padding: .4rem;
    overflow: hidden;
}
