@import '../../../../../utils/colors';

.btn {
  border: none;
  border-radius: .5rem;
  outline: none;
  padding: .35rem;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  background: $primary_color_green;
  cursor: pointer;
  margin-bottom: .5rem;
  display: flex;
  align-items: flex-start;
}

.btn__container {
  display: flex;
  align-items: center;
  justify-content: center;

  *:first-child {
    margin-right: .1rem;
  }
}