@import '../../../../utils/colors';

.card__members {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  width: 100%;

  h2 {
    font-size: .9rem;
  }
}

.members {
  display: flex;
  font-size: .8rem;

  * {
    display: flex;
  }
}

.members > *:last-child {
  font-size: 1.75rem;
  pointer-events: all !important;
  cursor: pointer;
}

.members__avatar {
  width: 1.75rem;
  height: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  border-radius: 50%;
  background-color: $primary_color_blue;
}
