@import '../../../utils/variables';

.profile {
    background-color: $primary_color_green;
    width: 2.25rem;
    height: 2.25rem;
    @include flex-center;
    border: 0 solid $primary_color_dark_green;
    border-radius: 50%;
    outline: none;
    color: $black;
    font-size: 1.25rem;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: .2s border ease-in-out;
}

.profile:hover {
  border: 1rem solid $primary_color_dark_green;
}
