.profile {
    background-color: orange;
    width: 2.25rem;
    height: 2.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    outline: none;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
}