@import '../../utils/colors';

.signup {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, $primary_color_dark_blue, $primary_color_aqua, $primary_color_dark_green);
    color: $white;
}
