@import '../../../utils/colors';

.boardColumn__card {
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $primary_color_aqua;
  border-radius: .25rem;
  padding: .25rem;
  font-family: 'Lato', sans-serif;

  h2 {
    margin-bottom: .5rem;
  }

  p {
    font-size: .8rem;
    font-style: italic;
    align-self: flex-start;
  }

  *:first-child {
    font-size: 1rem;
    position: absolute;
    top: 0;
    right: 1.25rem;
  }

  *:last-child {
    font-size: 1rem;
    position: absolute;
    top: 0;
    right: 0;
  }
}