@import '../../../utils/colors';

.card__container {
  width: 95%;
}

.boardColumn__card {
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: $primary_color_aqua;
  border-radius: .25rem;
  font-family: 'Lato', sans-serif;
  transition: .5s transform ease-in-out;
  padding: .25rem;

  .middle {
    height: 0.5rem;
    width: 100%;
  }

  .draggable {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
      pointer-events: none;
    }

    p {
      padding: .25rem;
      font-size: .85rem;
      font-style: italic;
      word-break: break-all;
      pointer-events: none;
    }
  }

  button:first-child {
    font-size: 1rem;
    position: absolute;
    top: 0;
    right: 1.25rem;
  }

  button:last-child {
    font-size: 1rem;
    position: absolute;
    top: 0;
    right: 0;
  }
}