@import '../../../utils/variables';

.card__container {
  width: 95%;
}

.boardColumn__card {
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: $primary_color_aqua;
  border-radius: .25rem;
  font-family: 'Lato', sans-serif;
  transition: .5s transform ease-in-out;
  cursor: grab;


  .draggableTop {
    width: 100%;
    @include flex-center;
    flex-direction: column;
    padding: .25rem;

    h2 {
      pointer-events: none;
    }

    p {
      padding: .35rem;
      font-size: .85rem;
      font-style: italic;
      word-break: break-all;
      pointer-events: none;
    }
  }

  .middle {
    width: 100%;
    height: .5rem;
  }

  .draggableBottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: .25rem;

    * {
      pointer-events: none;
    }
  }

  .card__buttons {
    display: flex;
    width: auto;
    justify-content: space-between;
    position: absolute;
    top: 0;
    right: 0;

    * {
      font-size: .95rem;
      margin-right: .1rem;
    }
  }
}